<div class="container row justify-content-center">
    <div class="col-4">

        <ul class="login__buttons nav nav-pills nav justified mb-3 border border-secondary" id="ex1" role="tablist">

            <!-- Bottone di SIGN IN -->
            <li class="nav-item" role="presentation">
                <button [ngClass]=" active == 'login' ? 'nav-link active' : 'nav-link' " id="tab-login"
                    (click)="onLoginTab('signIn')"> Sign In </button>
            </li>

            <!-- Bottone di SIGN UP -->
            <li class="nav-item" role="presentation">
                <button [ngClass]=" active == 'register' ? 'nav-link active' : 'nav-link' " id="tab-register"
                    (click)="onRegisterTab('signUp')"> Sign Up </button>
            </li>

        </ul>

        <!-- LOGIN FORM -->
        <div *ngIf="selectForm == 'signIn'" class="container__form tab-content">
            <div [ngClass]="active == 'login' ? 'tab-pane fade show active' : 'tab-pane fade'"
                class="container__form--border">
                <form (ngSubmit)="onSubmitLogin()" class="form-container border border-success" #loginForm="ngForm">

                    <div class="container__form--fields">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="loginName" name="login" [(ngModel)]="login">
                            <i class="bi bi-person-circle"></i>
                            <label for="loginName" class="form-label">Username</label>
                        </div>

                        <div class="mb-3">
                            <input type="password" class="form-control" id="loginPassword" name="password"
                            [(ngModel)]="password">
                            <i class="bi bi-lock-fill"></i>
                            <label for="loginPassword" class="form-label">Password</label>
                        </div>
                    </div>

                    <div class="container__submit">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>

                </form>
            </div>
        </div>

        <!-- REGISTER FORM -->
        <div *ngIf="selectForm == 'signUp'" class="container__form  tab-content">
            <div [ngClass]="active == 'register' ? 'tab-pane fade show active' : 'tab-pane fade'"
                class="container__form--border">
                <form (ngSubmit)="onSubmitRegister()" class="form-container border border-primary"
                    #registerForm="ngForm">

                    <div class="container__form--fields">
                        <!-- FIRST NAME -->
                        <div class="mb-3">
                            <input type="text" class="form-control" id="firstName" name="firstName"
                            [(ngModel)]="firstName">
                            <label for="firstName" class="form-label">First Name</label>
                        </div>

                        <!-- LAST NAME -->
                        <div class="mb-3">
                            <input type="text" class="form-control" id="lastName" name="lastName"
                            [(ngModel)]="lastName">
                            <label for="lastName" class="form-label">Last Name</label>
                        </div>

                        <!-- LOGIN -->
                        <div class="mb-3">
                            <input type="text" class="form-control" id="loginName" name="login" [(ngModel)]="login">
                            <i class="bi bi-person-circle"></i>
                            <label for="loginName" class="form-label">Username</label>
                        </div>

                        <!-- REGISTRATION PASSWORD -->
                        <div class="mb-3">
                            <input type="password" class="form-control" id="loginPassword" name="password"
                            [(ngModel)]="password">
                            <i class="bi bi-lock-fill"></i>
                            <label for="loginPassword" class="form-label">Password</label>
                        </div>
                    </div>

                    <div class="container__submit">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>